* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.item {
    flex-basis: 32%;
    background-color: hotpink;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile {
    background-color: cornflowerblue;
    border-radius: 10px;
    display: inline-block;
    margin: 50px calc(50% - 150px);
    text-align: center;
}